nav {
  transition: 0.3s;
  z-index: 3;
}
body {
  margin: 0;
}
/* body {
  padding-top: 50px;
  --bs-gutter-x:
} */

.phone {
  z-index: 10;
}

.container-fluid {
  --bs-gutter-x: 0 !important;
}
.carousel-item {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel-item img {
  min-height: 300px;
}
.hero {
  width: 100%;
  height: 100vh;
}
